﻿/*Aca colocamos el fondo de pantalla y el tipo de letra a usar en todas las páginas*/
.layout-cv {
    background-image: url(../images/font.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: inherit;   
}
/*Este es para centrar el encabezado de todas las páginas*/
.header-layout-center {
    position: center;
    text-align: center;
}
.center_cv {
    position: center;
    text-align: center;
}

/*Este es un contenedor para todo el CV*/
#tab-data-wrap {
    margin:auto;
    padding: 30px 20px;
    background: #f7f4db;
    border: 1px solid #f1f1f1;
    box-shadow: 0px 6px #29ced0;
    border-radius: 4px 4px 4px 4px;
    max-width:1000px;
}
/*Para las pestañas*/
.tab {
    display: inline-block;
    zoom: 1.1;
    *display: inline;
    background: #23d0d6;
    border: solid 2px #f1f1f1;
    border-bottom: 0px;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    margin-right: 10px;
}
/*tab con referencia por eso el "a"*/
    .tab a {
        text-align: center;
        text-transform: uppercase;
        font-size: 14px;
        display: block;
        padding: 2px 10px;
        outline: none;
        color: #000000;
        text-decoration: none;
    }
    /*Un "salto" de linea*/
.break {
    padding-bottom: 2em;
    clear: both;
}

/*Estos adaptadores se llaman conforme los divs, se alinea a la izquierda y se da un tamaño para la seccion*/
.g1, .g2, .g3 {
    display: inline;
    float: left
}
.g1 {
    width: 50.0%
}

.g2 {
    width: 48.0%
}

.g3 {
    width: 98.0%
}
.border{
    padding: 6px 6px 6px 10px;
    border: 3px solid #29ced0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
/*Divs para alinear*/
/*Este div alinea tres en un solo*/
#d1 {
    width: auto;
    height: auto;
    background-color: #f0f0f0;
    margin-left:150px;
}
/*div de contacto de WEb Form*/
#d1c {
    width: 200px;
    height: 100px;
    float: left;
    margin-left: 10px;
    padding: 6px 6px 6px 10px;
    border: 2px solid #999;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
/*div de contacto para facebook*/
#d2c {
    width: 200px;
    height: 100px;
    margin: auto;
    float: left;
    margin-left: 30px;
    padding: 6px 6px 6px 10px;
    border: 2px solid #999;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
/*Div de contacto para linkedin*/
#d3c {
    width: 200px;
    height: 100px;
    float: left;
    margin-left: 30px;
    padding: 6px 6px 6px 10px;
    border: 2px solid #999;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
} 
/*fin divs para alinear*/

/**Cosos del curriculo*/
/*tamaño del t exto de parrafo*/
p{
    font-size:15px;
}
/*Este no-list elimina los puntos del "li" */
.no-list {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
/*dentro del div Work se colocan las listas con estos margenes*/
.work > li {
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 2em;
}

/*estas seran las pestañitas*/
.label {
   
    padding: .25em .6em;
    font-size: 75%;
    font-weight: 500;
    line-height: 1;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    position:inherit;
}

.skillBar {
    margin-left:40px;
    height: 25px; 
    position: relative;
    border: 1px solid #f1f1f1;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 1em;
}
    .skillBar > span {
        display: block;
        height: 100%;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        position: relative;
        overflow: hidden;
    }

.green > span {
    background-color: #2ecc71;
}

.orange > span {
    background-color: #e67e22;
}

.purple > span {
    background-color: #8e44ad;
}

.yellow > span {
    background-color: #f1c40f;
}

.black > span {
    background-color: #3b6fa3;
}

.red > span {
    background-color: #c0392b;
}

.gray > span {
    background-color: #7f8c8d;
}
.show {
    display: block !important;
}
/*fIn cosos del curriculo*/

/*Inicio de Medias*/

* {
    box-sizing: border-box;
}
/*Media para pantallas de 320px*/
@media screen and (min-width: 320px) {
    .layout-cv{
        max-width:320px;
        width:80%;
    }
    .header-layout-center{
       margin-left:80px;
    }
    #tab-data-wrap {
        background-color: #f7f4db;
        max-width: inherit;
        width: 130%;
        max-width: 320px;
    }
    .tab{
        margin-left:50px;
    }
    .center_cv{
       font-size:small;
       margin-left:15px;
    }
    #d1{
        margin:auto;
    }
    #d1c{
        margin-left:30px;
    }
    #skills{
       margin-top:100px;
       
    }
    #education{
        margin-left:8px;
        width:200%;
    }
    #experience {
        width: 130%;
    }
    .show {
        display: block !important;
    }
}

/*********************************/
/*Media para pantallas de 375 pero tambien sirve para las de 400px*/
@media screen and (min-width: 375px) {
    .layout-cv {
        max-width: 375px;
        width: 80%;
    }

    .header-layout-center {
        margin-left: 80px;
    }

    #tab-data-wrap {
        background-color: #f7f4db;
        max-width: inherit;
        width: 130%;
        max-width: 375px;
    }

    .tab {
        margin-left: 50px;
    }

    .center_cv {
        font-size: small;
        margin-left: 15px;
    }

    #d1 {
        margin-left:30px;
    }

    #d1c {
        margin-left: 30px;
    }

    #skills {
        margin-top: 100px;
    }

    #education {
        margin-left:10px;
        width: 200%;
    }
    #experience{
        width:120%;
    }
    .show {
        display: block !important;
    }
}
/*********************************/
/*Media para pantallas de 720 pero tambien sirve para las de 400px*/
@media screen and (min-width: 768px) {
    .layout-cv {
        max-width: 768px;
        width: 80%;
    }
    .show {
        display: block !important;
    }

    .header-layout-center {
        margin-left: 210px;
    }

    #tab-data-wrap {
        background-color: #f7f4db;
        max-width: inherit;
        width: 100%;
        max-width: 768px;
    }

    .tab {
        margin-left: 50px;
    }

    .center_cv {
        font-size: small;
        margin-left: 15px;
    }

    #d1 {
        margin-left: 0px;
    }

    #d1c {
        margin-left: 0px;
    }

    #skills {
        margin-top: 0px;
    }

    #education {
        margin-left: 10px;
        width: 100%;
    }

    #experience {
        width: 100%;
    }
}

/*********************************/
/*Media para pantallas de 1400 pero tambien sirve para las de 100px*/
@media screen and (min-width: 1440px) {
    .layout-cv {
        max-width: 1440px;
        width: 100%;
    }

    .show {
        display: block !important;
    }

    .header-layout-center {
        margin-left: 100px;
    }

    #tab-data-wrap {
        background-color: #f7f4db;
        max-width: inherit;
        width: 100%;
        max-width: 1440px;
    }

    .tab {
        margin-left: 50px;
    }

    .center_cv {
        font-size: small;
        margin-left: 15px;
    }

    #d1 {
        margin-left: 0px;
    }

    #d1c {
        margin-left: 200px;
    }

    #skills {
        margin-top: 0px;
    }

    #education {
        margin-left: 10px;
        width: 100%;
    }

    #experience {
        width: 100%;
    }
}
/*Fin de Medias*/