﻿
@{
    ViewData["Title"] = "IndexCV";
    Layout = "_LayoutIndexCV";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>
<body>
    <a href="#experience"></a>
    <a href="#education"></a>
    <a href="#skills"></a>
    <div style="text-align:center;position:center;">
        <ul>
            <li id="tab-about" class="tab">
                <a href="#about"> <i class="large material-icons" style="font-size:30px">insert_chart</i><span style="margin:inherit">Resume</span></a>
            </li>

        </ul>
        <div id="tab-data-wrap">
            <div id="about">
                <section class="clearfix" >
                    <div class="clearfix center_cv">
                        <div class="border" style="width:auto;">
                            <img alt="Alejandro Tejada" src="~/images/foto.jpg" style="width:200px; height:200px; margin-top:1px; margin-left:1px; float:inherit;">

                            <div class="personal_info_style">
                                <h1>
                                    Alejandro Tejada
                                </h1>
                                <h1>
                                    Enginner Student
                                </h1>


                                <p>
                                    <h3>
                                        I am a student at the University of the Valley of Guatemala.<br />
                                        A future developer of Web Services.
                                    </h3>
                                </p>

                            </div>
                            <div class="hidden-sm hidden-xs hidden">
                                <h5>
                                    Esto es una Desktop
                                </h5>
                            </div>
                            <div class="hidden-md hidden-xs hidden-lg hidden">
                                <h5>
                                    Esto es una tablet
                                </h5>
                            </div>
                            <div class="hidden-md hidden-sm hidden-lg hidden">
                                <h5>
                                    Esto es un teléfono
                                </h5>
                            </div>
                        </div>

                    </div>
                    <div class="break"></div>
                  

                        <div id="d1">
                            <div id="d1c">
                                <i class="large material-icons">web</i>
                                <div class="item-data">
                                    <h4><a asp-area="" asp-controller="Home" asp-action="FormCV">Contact</a></h4>
                                    <p>Web Form</p>
                                </div>
                            </div>
                            <div id="d2c">
                                <i class="large material-icons">thumb_up</i>
                                <div class="item-data">
                                    <h4><a href="https://www.facebook.com/alejandro.a.flores.17584">Jose Tejada</a></h4>
                                    <p>Facebook profile</p>
                                </div>
                            </div>
                            <div id="d3c">
                                <i class="large material-icons">business_center</i>
                                <div class="item-data">
                                    <h4><a href="https://www.linkedin.com/in/alejandrotejada17584/">Alejandro Tejada</a></h4>
                                    <p>LinkedIn profile</p>
                                </div>
                            </div>
                        </div>
                       
                  
                </section>
            </div>

            <div id="resume">
                <section class="clearfix" >
                    <div class="g2">
                        <h1 id="experience">
                            Work Experience
                        </h1>
                        <ul class="no-list work" id="experience">
                            <li>
                                <h3 >Internship</h3><span class="label label-info">2016</span>
                                <p>
                                    Previously I had experience being a collaborator in this company, on my return as a practitioner,
                                    Gradually I have gained experience in the area of ​​computer science and electronics, I was instructed in the maintenance of varied office equipment, such as printers, scanners, UPS, monitors and cash registers. In addition to the activities mentioned above,
                                    I was instructed on the new policies in terms of operating systems in the computers, which is why we use state-of-the-art OS. The use of tools for the repair of machines and computers was also a difficult subject to learn, but without a doubt it was an unforgettable experience
                                </p>
                            </li>
                            <li>
                                <h3>Partner for a Day</h3><span class="label label-info">2016</span>
                                <p>

                                    I participated in the initiative "Partners for a Day", this theme is based on accompanying a manager or boss in a whole day of
                                    Work, spend time with him and learn from his qualities and the way he makes his decisions.
                                    The area in which I had the opportunity to collaborate was in technical support of the company, it manages the credit cards of Banrural, provides them to the bank and in its database contains the registration of the cards
                                </p>
                            </li>
                            <li>
                                <h3>Be incredibly positive</h3><span class="label label-danger">2016-until die</span>
                                <p>

                                    An essential part of my experience in life is always positive. Show and give the best of me always to make people feel proud with whom I relate.
                                </p>
                            </li>

                        </ul>
                        <h1 id="education">Education</h1>
                        <ul class="no-list work" id="education">
                            <li>
                                <h4>Instituto Tecnológico de Computación</h4><span class="label label-success">2014-2016</span>
                                <p>

                                    The curiosity that moved me since I was a child led me to pursue the career of Industrial Bachelor and Expert in Electronics with specialty in Microprocessors. A career that marked my life because it gave me a lot of sense about working as a team, learning to see strengths and weaknesses in me and being a source of support in projects.
                                </p>
                            </li>
                            <li>
                                <h4>Universidad del Valle de Guatemala</h4><span class="label label-info">2017-present</span>
                                <p>

                                    Engineering has always been of my greatest interest, after my diversification I decided to dedicate my life to computing. Engineering in Computer Science and IT offers me everything I want to practice as a professional.
                                    I am currently taking this university course and I am determined to complete this stage of my life.
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="g1">

                        <div id="skills">
                            <h1>
                                Skills
                            </h1>
                            <h3>
                                Software
                            </h3>
                            <div class="skillBar green">
                                <span style="width: 90.0%"><span>Microsoft Office</span></span>
                            </div>
                            <div class="skillBar orange">
                                <span style="width: 90%"><span>Multisim</span></span>
                            </div>
                            <div class="skillBar purple">
                                <span style="width: 85%"><span>Windows</span></span>
                            </div>
                            <div class="skillBar yellow">
                                <span style="width: 40%"><span>Linux</span></span>
                            </div>
                            <div class="skillBar black">
                                <span style="width: 70%"><span>Dreamweaver</span></span>
                            </div>
                            <div class="skillBar red">
                                <span style="width: 60%"><span>Mathcad</span></span>
                            </div>
                            <div class="break"></div>
                            <h3>
                                Design
                            </h3>
                            <div class="skillBar green">
                                <span style="width: 65%"><span>User Interface</span></span>
                            </div>
                            <div class="skillBar orange">
                                <span style="width: 80%"><span>LabView NI</span></span>
                            </div>
                            <div class="skillBar purple">
                                <span style="width: 80%"><span>Web Applications</span></span>
                            </div>
                            <div class="skillBar green">
                                <span style="width: 80%"><span>UML Star</span></span>
                            </div>
                            <div class="skillBar orange">
                                <span style="width: 80%"><span>Proteus</span></span>
                            </div>
                            <div class="break"></div>
                            <h3>

                                Programming languages
                            </h3>
                            <div class="skillBar green">
                                <span style="width: 85%"><span>HTML/CSS</span></span>
                            </div>
                            <div class="skillBar orange">
                                <span style="width: 80%"><span>PHP/MySql/SQL</span></span>
                            </div>
                            <div class="skillBar purple">
                                <span style="width: 80%"><span>jQuery/JavaScript</span></span>
                            </div>
                            <div class="skillBar yellow">
                                <span style="width: 65%"><span>MPLAB, ASSAMBLER</span></span>
                            </div>
                            <div class="skillBar gray">
                                <span style="width: 80%"><span>Python</span></span>
                            </div>
                            <div class="skillBar green">
                                <span style="width: 85%"><span>C#/Java</span></span>
                            </div>
                            <div class="skillBar orange">
                                <span style="width: 80%"><span>Mikro Pascal Pro</span></span>
                            </div>
                            <div class="skillBar gray">
                                <span style="width: 80%"><span>Pascal</span></span>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>
</html>

